.navbar-container {
  display: flex;
  position: absolute;
  width: 100%;
  min-height: 6em;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  z-index: 10;

  .navbar {
    font-family: Inter, serif;
    max-width: 750px;
    width: 20%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: font-size ease 0.3s;

    a {
      text-decoration: none;
      color: white;
    }

    li {
      font-size: 20px;
      transition: font-size ease 0.3s;
      text-decoration: none;

      &:hover {
        text-decoration-color: white;
        font-size: 24px;
      }
    }

    .active {
      font-size: 24px;
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }
  }

  #profile-icon {
    display: flex;
    width: 3em;
    height: 3em;
    margin-right: 2em;
    transition: transform 0.3s;

    &:hover{
      transform: scale(1.2);
    }
  }

  #logo {
    display: flex;
    width: 3em;
    height: 4em;
    margin-left: 2em;
    transition: transform 0.3s;

    &:hover{
      transform: scale(1.2);
    }
  }
}
