#cards-container {
    margin-top: 2em;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap: 21em;

    @media screen and (max-width: 768px) {
        gap: 52em;
    }


    .card {
        width: 100%;
    }
}
