
    #hero-container
    {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        z-index: 0;

        #hero {
            display: flex;
            justify-content: center;
            align-items: center;

            #inner-text-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 25vh;
            }

            #text-container{
                z-index: 1;
                position: absolute;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-around;
        
                #heading-container {
                    width: 100%;
                    display: flex;
                    position: relative;
                    z-index: 100;
                    text-align: center;
            
                    #heading {
                        font-size: 5vw;
                        letter-spacing: 15px;
                        font-weight: 200;
                        font-family: "Bebas Neue", serif;
                        width: 100%;
                        color: rgb(231, 231, 231);
                        margin: 0;

                    }
                }
            
                #paragraph-container {
                    width: 70%;
                    margin-left: 15%;
                    display: flex;
                    position: relative;
                    text-align: center;
                    z-index: 11;
            
                    #paragraph {
                        //font-size: 28px;
                        font-size: 1.4vw;
                        // letter-spacing: 10px;
                        font-family: "Raleway", serif;
                        width: 100%;
                        color: rgb(201, 201, 201);
                    }
                }
        
                #catalog-button-container {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    height: 2vh;
                    
                    #catalog-button {
                        position: relative;
                        font-size: 1vw;
                        width: 15%;
                        background-color: transparent;
                        border-top: 3px solid rgb(201, 201, 201);
                        border-left: none;
                        border-right: none;
                        border-bottom: 3px solid rgb(201, 201, 201);
                        z-index: 11;
                        color: rgb(201, 201, 201);
                        transition: background-color ease 0.3s;
                
                        &:hover {
                            color: black;
                            // text-decoration: underline;
                            font-weight: bold;
                            text-decoration-thickness: 3px;
                            border-color: black;
                            background-color: rgb(211, 211, 211);
                        }
                    }
                }
            
            }

            video {
                width: 100%;
                height: 100%;
            }
        
            .video-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.7); 
            }
        }
    }

    @media only screen and (max-width: 600px) {
        #hero-container{
            height: 800px;

            #hero {
                width: 100%;
                height: 100%;
            }

            #text-container {
                height: 40%;

            }
        }

        #hero-container #hero #text-container #heading-container #heading {
            font-size: 12vw;
            letter-spacing: 5px;
        }

        #hero-container #hero #text-container #paragraph-container #paragraph{
            font-size: 4vw;
        }
        #hero-container #hero #text-container #catalog-button-container {
            width: 100%;
            height: 7vh;

            #catalog-button {
                font-size: 3vw;
                width: 30%;
            }
        }

        video {
            width: 100vw;
            height: 100vh;
            object-fit: cover; // Ensures it fills the screen without stretching
            position: absolute;
            top: 0;
            left: 0;
        }

        .navbar-container #signup-button {
            font-size: 1.5vw;
            width: 10vw;
        }
    }

    @media only screen and (min-width: 600px) {
        #hero-container #hero #text-container {
            height: 35vh;
        }

        #hero-container #hero #text-container #catalog-button-container {
            width: 100%;
            height: 6vh;

            #catalog-button {
                font-size: 2.5vw;
                width: 20%;
            }
        }

        #hero-container #hero #inner-text-container {
            height: 15vh;
        }
    }

    @media only screen and (min-width: 992px) {
        #hero-container #hero #text-container {
            height: 70vh;
        }

        #hero-container #hero #text-container #catalog-button-container {
            width: 100%;
            height: 8vh;
        }
        #hero-container #hero #text-container #catalog-button-container #catalog-button {
            font-size: 1.5vw;
            width: 15%;
        }

        #hero-container #hero #inner-text-container {
            height: 25vh;
        }
    }
    