.navbar-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 6em;
    max-height: 6em;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    z-index: 10;

    #navbar-mobile-menu {
      display: none;
    }

    .navbar {
      font-family: Inter, serif;
      max-width: 900px;
      min-width: 300px;
      width: 20vw;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      transition: font-size ease 0.3s;


      li {
        font-size: 1vw;
        transition: font-size ease 0.3s;
        text-decoration: none;

        &:hover {
          text-decoration-color: white;
          font-size: 1.3vw;
        }
      }

      .active {
        font-size: 1.3vw;
        text-decoration: underline;
        color: white;
        text-decoration-thickness: 2px;
      }

      .inactive {
        text-decoration: none;
        color: white;
      }
    }

    .logo-mobile {
      display: none;
    }

    #signup-button {
      background-color: transparent;
      border: 2px solid rgb(231, 231, 231);
      min-width: 5vw;
      height: 5vh;
      margin-right: 2em;
      border-radius: 10px;
      color: white;
      justify-content: center;
      align-items: center;
      font-size: 1vw;
      transition: transform ease 0.3s;
      text-decoration: none;

      &:hover {
        background-color: white;
        color: black;
        transform: scale(1.15);
        font-weight: bold;
        box-shadow: 0 0 10px white;
      }
    }

    #icons-container {
      display: flex;
      flex-direction: row;
    }

    .icon {
      display: flex;
      width: 2.4vw;
      margin-right: 2vw;
      transition: transform 0.3s;

      &:hover{
        transform: scale(1.2);
      }
    }

    #logo {
      display: flex;
      width: 2.5vw;
      margin-left: 2.5vw;
      transition: transform 0.3s;

      &:hover{
        transform: scale(1.2);
      }
    }

    #user-container {
      position: relative;
      display: inline-block;

      #dropdown {
        position: absolute;
        width: 10vw;
        color: white;
        margin-left: -7.5vw;
        margin-top: 2vh;
        display: flex;
        flex-direction: column;
        background-color: rgb(23, 23, 23);
        border-radius: 10px;
        border: 2px solid rgb(201, 201, 201);
        z-index: 10;

        &::before {
          content: "";
          position: absolute;
          top: -0.5em;
          right: 1em;
          border-left: 0.5em solid transparent;
          border-right: 0.5em solid transparent;
          border-bottom: 0.5em solid rgb(185, 184, 184);
        }

        hr {
          width: 80%;
          height: 2px;
          background-color: rgb(185, 184, 184);
          border: none;
          margin: 0 0 0 10%;
        }
      }

      .dropdown-option {
        width: 100%;
        height: 6vh;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 1vw;
        text-decoration: none;
        color: white;

        &:hover {
          background-color: #3e3939;
          border-radius: 10px;
        }
      }
    }
  }
  .navbar-mobile {
    display: none;
  }

  @media only screen and (max-width: 880px) {
    .navbar-container #logo{
      width: 4vw ;
    }

    .navbar-container .navbar li {
      font-size: 2vw;
      transition: font-size ease 0.3s;

      &:hover {
        font-size: 2.3vw;
      }
    }

    .navbar-container .navbar .active {
      font-size: 2.3vw;
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }

    .navbar-container .icon {
      display: flex;
      width: 3.5vw;
      margin-right: 2vw;
      transition: transform 0.3s;

      &:hover{
        transform: scale(1.1);
      }
    }

    .navbar-container #user-container #dropdown {
      width: 15vw;
    }

  }

  @media only screen and (max-width: 600px) {

  .navbar-container {
    display: flex;
    width: 100%;
    min-height: 8vh;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    z-index: 10;

    #logo-link {
      display: none;
    }

    .navbar {
      display: none;
    }

    .logo-mobile {
      display: flex;
      width: 30vw;
      height: 6.5vh;
      transition: transform 0.3s;
      align-items: center;
      color: white;
      margin-left: 14vw;
      font-size: 4vw;
      z-index: 11;
    }

    #navbar-mobile-menu {
      display: flex;
      margin: 0 0 0 3vw;

      .menu-icon {
        width: 5vw;
      }
    }

    .icon {
      display: flex;
      width: 5vw !important;
      margin-right: 3vw;
      transition: transform 0.3s;

      &:hover{
        transform: scale(1.1);
      }
    }

    #user-container {
      position: relative;
      display: inline-block;

      #dropdown {
        position: absolute;
        width: 20vw;
        color: white;
        margin-left: -13vw;
        margin-top: 3vh;
        display: flex;
        flex-direction: column;
        background-color: rgb(23, 23, 23);
        border-radius: 10px;
        border: 2px solid rgb(201, 201, 201);
        z-index: 10;

        &::before {
          content: "";
          position: absolute;
          top: -0.5em;
          right: 1em;
          border-left: 0.5em solid transparent;
          border-right: 0.5em solid transparent;
          border-bottom: 0.5em solid rgb(185, 184, 184);
        }

        hr {
          width: 80%;
          height: 2px;
          background-color: rgb(185, 184, 184);
          border: none;
          margin: 0 0 0 10%;
        }
      }

      .dropdown-option {
        width: 100%;
        height: 6vh;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 2.5vw;


        &:hover {
          background-color: #3e3939;
          border-radius: 10px;
        }
      }
    }

  }

  .navbar-mobile {
    position: relative;
    display: flex;
    background-color: rgb(40, 40, 40);
    width: 100%;
    height: 20vh;
    margin: 0;
    flex-direction: column;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    z-index: 11;

    a {
      text-decoration: none;
      color: white;
    }

    li {
      font-size: 3vw;
      transition: font-size ease 0.3s;
      text-decoration: none;
    }
  }
  #signup-button-link {
    text-decoration: none;
  }
  #signup-button {
    background-color: rgb(231, 231, 231);
    border: none;
    box-shadow: 0px 0px 10px white;
    min-width: 13vw;
    height: 4vh;
    margin-right: 2em;
    border-radius: 10px;
    color: black;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    font-weight: bold;
  }
}
