.product-modal-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 350px;
  width: 50vw;
  max-width: 50vw;
  max-height: 80vh;
  background-color: white;
  border-radius: 15px;
  z-index: 11;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: scroll;
  border: 3px solid rgb(55,55,55);

  .product-modal-header-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5em;
    color: white;
    background-color: rgb(34, 34, 34);
    border-radius: 1px 1px 0 0;

    .product-modal-title {
      font-size: clamp(24px, 1.6vw, 44px);
      font-weight: bold;
      margin: 0;
    }

    .product-modal-close-container {
      position: absolute;
      top: 50%;
      right: 1em;
      transform: translateY(-50%);
      width: 1vw;
      min-width: 20px;
      height: 1vw;
      min-height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.2em;
      box-sizing: border-box;
      border-radius: 50%;
      background-color: white;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: darkgray;
      }

      .product-modal-close {
        width: 100%;
        height: 100%;
      }

    }
  }

  .product-modal-content {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    box-sizing: border-box;
    padding: 1em;
    gap: 1em;

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    .product-modal-name-container, .product-modal-price-container, .product-modal-stock-container, .product-modal-category-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 1em;

      .product-modal-name-input, .product-modal-price-input, .product-modal-stock-input, .product-modal-select-category-container {
        border: 2px solid rgb(55,55,55);
        border-radius: 5px;
        text-align: center;
        font-size: clamp(16px, 1.2vw, 44px);
        background-color: transparent;
        width: 50%;

        .product-modal-select-category-option {
          width: 100%;
        }

        &:focus {
          outline: none;
        }
      }
    }

    .product-modal-properties-container{
      .product-modal-property-container {
        display: flex;
        gap: 1em;
        justify-content: space-between;

        .product-property-input {
          width: 30%;
          border: 2px solid rgb(55,55,55);
          border-radius: 5px;
          text-align: center;
          font-size: clamp(16px, 1.2vw, 44px);

          &:focus {
            outline: none;
          }
        }
      }
    }

    .product-modal-images-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      overflow: hidden;
      gap: 0.5em;

      .product-modal-image-container {
        position: relative;
        width: 5vw;
        min-width: 60px;
        height: 5vw;
        min-height: 60px;
        border-radius: 5px;
        border: 1px dashed rgb(55,55,55);
        box-sizing: border-box;
        padding: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;

        .product-modal-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .product-modal-delete-image-container {
          position: absolute;
          top: 0;
          right: 0;
          width: 1vw;
          height: 1vw;
          padding: 0.2em;
          border-radius: 50%;
          background-color: transparent;
          cursor: pointer;
          border: 1px solid rgb(55, 55, 55);
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            background-color: red;
          }

          .product-modal-delete-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &.label {
          &:hover {
            background-color: lightgray;
            cursor: pointer;
          }
        }
      }

      .product-modal-add-image-input {
        display: none;
      }
    }

    .product-modal-properties-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      .product-modal-property-container {
        display: flex;
        align-items: center;

        .product-modal-delete-property-container {
          width: 1vw;
          min-width: 15px;
          height: 1vw;
          min-height: 15px;
          padding: 0.2em;
          border-radius: 50%;
          background-color: transparent;
          cursor: pointer;
          border: 1px solid rgb(55, 55, 55);
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            background-color: red;
          }

          .product-modal-delete-property {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .product-modal-add-property-button-container {
        display: flex;
        justify-content: flex-start;

        .product-modal-add-property-button {
          height: 100%;
          box-sizing: border-box;
          padding: 0.5em;
          font-size: clamp(14px, 1vw, 44px);
          border: none;
          color: white;
          border-radius: 5px;
          background-color: rgb(55, 55, 55);
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: rgb(32, 32, 32);
            transform: scale(1.05);
          }
        }
      }
    }

    .product-modal-save-button-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .product-modal-save-button {
        width: 30%;
        height: 100%;
        box-sizing: border-box;
        padding: 0.5em;
        font-size: clamp(14px, 1vw, 44px);
        border: none;
        color: white;
        border-radius: 5px;
        background-color: rgb(55, 55, 55);
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: rgb(32, 32, 32);
          transform: scale(1.05);
        }
      }
    }
  }
}